<!-- 
  body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #A6DECC;
    margin-left: 20%;
  }

  header {
    font-family: 'Dancing Script', cursive;
  }
 -->

<link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>


<h1 class="header">ABOUT JEN!</h1>
<p>Jen is my awesome partner today. She is a super programmer, a super friend, a super mom, AND A SUPER SPY. Here are some things she is good at: </p>
<ul>
  <li>Knife fighting</li>
  <li>European disguises</li>
  <li>Low Chicago Poker</li>
  <li>Viticulture</li>
  <!-- <li></li> -->
</ul>
