<style>
  body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #8DC294;
    margin-left: 20%;
  }
</style>


<h1>Education</h1>
<a href="http://fontmeme.com/harry-potter-font/"><img src="http://fontmeme.com/embed.php?text=Hogwarts&name=HarryP.ttf&size=100&style_color=D500FF" alt="Harry Potter Font"></a>

<ul>
<li>Ravenclaw</li>
<li>Charms</li>
<li>Expert owl wrangler</li>
</ul>