<!-- 
  body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #8DC294;
    margin-left: 20%;
  }
 -->


<h1 class="header">Education</h1>
<a href="http://fontmeme.com/harry-potter-font/"><img src="http://fontmeme.com/embed.php?text=Hogwarts&name=HarryP.ttf&size=100&style_color=D500FF" alt="Harry Potter Font"></a>


<% @educations.each do |education| %>
Years Attended: <%= education.years_attended %>
GPA: <%= education.gpa %>
<!-- Graduated: <%= truthiness(education.graduated) %> -->
<% end %>
