


<!-- HTML things -->
<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>



<div class="header">Jen Baguley</div>
<hr width="25%" align="center">
<div class="maincontainer">
    <div class="top">
        <ul>
            <li>GeorgeOscarBluth&nbsp
                RavenclawStudent&nbsp
                MudWrestler&nbsp
                OrganicBacterium&nbsp
            </li>
        </ul>
    </div>   
    <div class="main">

            <img src="https://riskyfueldotcom.files.wordpress.com/2013/03/gob.png" alt="math" style="width:200px;height:128px;">
            &nbsp
        
            <img src="http://img07.deviantart.net/368c/i/2011/197/1/a/ravenclaw_flag_by_kooro_sama-d3x5pj3.png" alt="math" style="width:200px;height:128px;">
            &nbsp
        
            <img src="http://chrisapplegate.photography/p_photos/Mud%20Wrestling_87.jpg" alt="math" style="width:200px;height:128px;">
            &nbsp

            <img src="http://leavingbio.net/BACTERIA%20Page_files/image002.jpg" alt="math" style="width:200px;height:128px;">

    </div> 
</div>

<div class="header"><a href="http://lmgtfy.com/?q=Jen+Baguley" target="_blank">Find me on the web!</a></div>


