<style>
  body {
    font-family: Curlz MT,Comic Sans MS,Arial;
    background-color: #009CD1;
    margin-left: 20%;
  }
</style>

<h1>Jen's AWESOME work HiSTorY</h1>

<ul>
  <li><a href="http://runescape.wikia.com/wiki/Dragon_Slayer">Dragon Slayer</a></li>
  <li>Mud Wrestler</li>
  <li>Experimental Pastry Chef</li>
  <li><a href="https://courses.nus.edu.sg/course/elltankw/history/vocab/a.htm">Academic Lexicologist</a></li>
  <li><a href="http://cdn.phys.org/newman/csz/news/800/2012/bacterialpho.gif">Organic Bacterium</a></li>
  <li>accountant</li>
  <li><a href="http://arresteddevelopment.wikia.com/wiki/G.O.B.">GOB</a></li>
  <li>Dream Job: ANTHONY BOURDAIN'S SIDEKICK</li>
</ul>